*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.clap
*.zip

.kdev_include_paths
.kdev4/
.DS_Store

bin/rccomp
bin/rccomp-ladspa.*
bin/rccomp-dssi.*
bin/rccomp-vst.*
bin/rccomp.vst3
bin/rccomp.clap
bin/rccomp.lv2/
bin-w32/rccomp.exe
bin-w32/rccomp.lv2
bin-w32/rccomp.vst3
bin-w32/rccomp-vst.*
bin-w32/rccomp.clap
bin-w64/rccomp.exe
bin-w64/rccomp.lv2
bin-w64/rccomp.vst3
bin-w64/rccomp-vst.*
bin-w64/rccomp.clap

build/
dist/
